<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/style.css">
    {% for headElem in headElems %}
        {{ headElem|raw }}
    {% endfor %}
</head>
<body>
{{ menu|raw }}
<div class="mainWrapper">
    {{ document|raw }}
</div>
{{ feed|raw }}
</body>
</html>