<aside>
    <a class="twitter-timeline" href="https://twitter.com/{{ accountName }}">Tweets by {{ accountName }}</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</aside>